* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #0f2027;
  color: #c6ffdd;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  margin: 25px 45px;
  width: 350px;
  height: 430px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background: #56ab2f;
  border-radius: 20px;
}

.card .img {
  background: #000;
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.img:hover img {
  transform: scale(1.3);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.8s;
}

.card .info {
  width: 100%;
  padding: 10px;
  color: #0f2027;
  background: #fff;
  border-radius: 0 0 20px 20px;
}

.info p {
  font-size: 20px;
  font-weight: 600;
  padding-left: 8px;
  margin: 10px;
  border-left: 3px solid rgba(15, 32, 39, 0.5);
}

.info .btn {
  user-select: none;

  text-align: center;
}

.btn i {
  background: #0f2027;
  padding: 10px;
  color: #dadada;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 25px;
  margin: 5px 10px 10px;
  cursor: pointer;
}

.btn i:hover {
  background: rgba(15, 32, 39, 0.3);
  color: #0f2027;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5px;
}

footer i {
  vertical-align: middle;
}

.bx.bxs-heart {
  color: #ef433e;
}
